button {
  color: #fff;
}
button:hover {
  color: #5bc2a3;
}
.txt-imguser button {
  width: 230px;
}
.txt-imguser button:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.txt-imguser button:hover a {
  color: #fff;
}

/* Abre Page Add Exercício */
.form-add-exercicio {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-add-exercicio form {
  width: 500px;
  background-color: #fff;
  border: 2px solid #5bc2a3;
  color: #5bc2a3;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.form-add-exercicio button {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
.form-add {
  width: 980px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #5bc2a3;
  color: #5bc2a3;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
}
.container-form {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.form-add-exercicio h2 {
  text-align: center;
  margin-top: 20px;
}
.form-add h2 {
  text-align: center;
  margin-top: 20px;
}
.form-desafio button {
  margin-left: 440px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}
.form-desafio button:hover {
  color: #5bc2a3;
}
.input-form-cadastro section {
  overflow: auto;
  width: 430px;
  height: 325px;
  margin-bottom: 15px;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.card-videos {
  width: 420px;
  background-color: #5bc2a3;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
}

.card-videos.active {
  background-color: #eea7ff;
}
.card-videos > input[type="checkbox"] {
  display: none;
}
.card-videos h5 {
  margin-bottom: 0px;
}
.card-videos p {
  margin-bottom: 0px;
}
.card-videos img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.tipo-maisteinos {
  height: 2em;
}
.msg-add {
  width: 260px;
  margin: auto;
  border: 2px solid #5bc2a3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #5bc2a3;
}

/* Fecha Page Add Exercício */

/*Abrir Page Tabelas*/
.card-tabela {
  width: 1090px;
  border-radius: 20px;
  gap: 70px;
  align-items: center;
  border: 2px solid #5bc2a3;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}
.card-tabela section {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nome-tabela {
  width: 15%;
}
.data-tabela {
  width: 15%;
}
.inpts-escndidos {
  display: none;
}
.mds-tabela {
  width: 70%;
  overflow: hidden;
}
.mgs-grande {
  display: none;
}
.mgs-duvida {
  width: 515px;
}
.form-resposta label {
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-tabela {
  margin-bottom: 50px;
}
.form-resposta input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #5bc2a3;
  padding: 4px 10px;
  margin-top: 0px;
}
.form-resposta textarea {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #5bc2a3;
  overflow: auto;
  padding: 4px 10px;
}
.form-resposta {
  width: 515px;
  border: 2px solid #eea7ff;
  border-radius: 20px;
  padding: 15px;
}
.card-tabela img {
  width: 130px;
  height: 90px;
  border-radius: 10px;
}
.titulo-card-tabela {
  width: 60%;
}
.desc-card-tabela {
  width: 40%;
}
.btns-card-tabela {
  width: 10%;
}
.btns-card-tabela button {
  margin-top: 10px;
}
.btns-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.duracao-tabela {
  width: 30%;
}
.desc-tabela {
  width: 50%;
}
.btns-tabela {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns-tabela button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-dia {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nome-dia {
  width: 20%;
}
.desc-dia {
  width: 50%;
}
.tempo-dia {
  width: 10%;
}
.cards-tabela h4 {
  text-align: center;
  margin-top: 30px;
}
/*Fechar Page Tabelas*/

/*Abre Page Ajuda*/
.container-form-responder {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.container-form-responder form {
  width: 1000px;
  height: 600px;
  background-color: #5bc2a3;
  border-radius: 20px;
  padding: 30px 10px;
  color: #fff;
}
.cards-responde {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cards-resposta {
  width: 450px;
  height: 90%;
  border: 1px solid red;
}
.cards-resposta label {
  margin-bottom: 0px;
}
.cards-resposta input {
  width: 450px;
  height: 2em;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.cards-resposta textarea {
  width: 450px;
  height: 280px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 5px;
  overflow: auto;
  margin-bottom: 20px;
}
.btns-responde {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.btns-responde button {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn-alterar {
  gap: 30px;
}
