body p {
  margin: 0;
}

/* Abre Menu Usuário*/
.menu-pageuser {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  z-index: -1;
}
.menu-links ul {
  display: flex;
  gap: 40px;
}
.menu-identificacao {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.menu-identificacao:hover {
  text-decoration: none;
  color: #000;
}
.menu-identificacao img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddb7ac;
} /*Fecha Menu Usuário*/

/*Abre Form Anamnese*/
.primeiro-acesso {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(221, 183, 172, 0.4);
  position: fixed;
  display: none;
}
.primeiro-acesso form {
  width: 470px;
  height: 540px;
  background-color: #b9cdcb;
  color: #00453a;
  border-radius: 10px;
  margin: auto;
  padding: 30px 25px;
  margin-top: 20px;
  overflow: auto;
}
.primeiro-acesso form h2 {
  text-align: center;
}
.perguntas-anamnese {
  margin-top: 10px;
}
/*.container-form-anamnese{
	border: 1px solid #00453A;
	border-radius: 10px;
	padding: 20px;
}*/
.inputs-anamnese {
  display: flex;
  gap: 20px;
}
.btn-anamnese {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-anamnese button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
/*Fecha Form Anamnese*/

/*Abre Imagem Pages User*/
#imguser {
  position: relative;
}
.background-user {
  width: 100%;
  height: 410px;
  background: rgba(229, 153, 247, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px, 80px);
  z-index: -1;
  background-image: linear-gradient(2deg, #fff 33%, transparent 15%);
}
.imguser img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  transform: translate(0px, 80px);
  background-image: linear-gradient(-20deg, #eea7ff 33%, transparent 15%);
}
.txt-imguser {
  width: 600px;
  margin-left: 130px;
  margin-top: 80px;
  color: #fff;
}
/*Fecha Imagem Pages User*/

/*Abre Minha Área*/
.minhaarea-usua {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px, 400px);
  z-index: -1;
  margin-bottom: 150px;
} /*Fecha Minha Área*/

/*Abre Desafio Atual*/
.msg-desafios {
  text-align: center;
}
.desafio-atual {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-desafioatual {
  width: 1100px;
  height: 300px;
  background-image: linear-gradient(110deg, #eea7ff 55%, transparent 15%);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #fff;
  margin: auto;
}
.card-desafioatual img {
  width: 690px;
  height: 300px;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, 0px);
  border-radius: 10px;
}
.expo-geral h3 {
  font-size: 27px;
}
.evolucao {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.evolucao p {
  color: #5bc2a3;
  font-size: 20px;
}
.container-evolucao {
  width: 500px;
  height: 12px;
  border: 2px solid #5bc2a3;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container-evolucao div {
  width: 30%;
  height: 8px;
  background-color: #5bc2a3;
  border-radius: 20px;
}
.expo-geral {
  width: 550px;
}
.card-desafioatual button {
  background-color: #5bc2a3;
  color: #fff;
  transition: all 0.5s;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translate(-40px, -20px);
}
.pegarJS button {
  color: #fff;
}
.pegarjsbutton:hover {
  color: #5bc2a3;
}
.card-desafioatual button a {
  color: #fff;
}
/*Fecha Desafio Atual*/

/*Abre Evolução*/
.titulo-sections {
  width: 1100px;
  margin: auto;
}
.cards-evolucao {
  display: flex;
  border: 2px solid #5bc2a3;
  width: 1100px;
  height: 300px;
  border-radius: 10px;
  margin: auto;
}
.aproveitamento-evolucao {
  width: 665px;
  padding: 30px;
  border-right: 2px solid #5bc2a3;
}
.p-atencao {
  background-color: #eea7ff;
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 10px;
}
.calendario-evolucao {
  text-align: center;
  padding: 15px 15px;
  border-left: 2px solid #5bc2a3;
  border-right: 2px solid #5bc2a3;
}
.graficopizza {
  margin-left: 25px;
}
.calendario-evolucao p {
  font-size: 22px;
  color: #5bc2a3;
  margin-bottom: 5px;
}
.container-calendario {
  width: 380px;
  height: 230px;
  background-color: #eea7ff;
}
.minha-evolucao h2 {
  margin-top: 50px;
  margin-bottom: 5px;
}
.numeros-evolucaouser {
  display: flex;
  padding: 15px;
  align-items: center;
  width: 435px;
}
.ntreinos-evolucao {
  width: 160px;
  text-align: center;
}
.numero-videos h1 {
  font-size: 80px;
  margin-bottom: 0px;
}
.numero-desafios h1 {
  font-size: 80px;
  margin-bottom: 0px;
}
.grafico-evolucao {
  width: 250px;
  text-align: center;
}
.graficopizza {
  width: 200px;
  height: 200px;
  background-color: #b9cdcb;
  border-radius: 50%;
}
/*Fechar Numeros de Evolução*/

/*Abrir Favoritos*/
.maistreinos h2 {
  margin-top: 60px;
}
.favoritar {
  width: 100%;
}
.favoritar button {
  background-color: transparent;
  outline: none;
  border: none;
}
.cards-exercicios {
  margin-bottom: 70px;
}
/*Fechar Favoritos*/

/* Abre Form Anamnese */
.form-anamnese {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(91, 194, 163, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding: auto;
}
.form-anamnese form {
  width: 500px;
  min-height: 570px;
  background: rgba(91, 194, 163, 0.85);
  border-radius: 20px;
  padding: 20px 40px;
  margin: auto;
  color: #fff;
}
.form-anamnese h1 {
  text-align: center;
}

@keyframes form {
  from {
    opacity: 0;
    transform: translate3d(0px, -60px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.form-anamnese.active {
  animation: form 0.3s;
  display: block;
}
/* Fecha Form Anamnese */

/*Abrir Page Alongamentos*/
.card-exercicios {
  margin-top: 20px;
}
/*Fechar Page Alongamentos*/

.card-treinoatual {
  background-image: url("../imgs/img-treinoatual.png");
  width: 770px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.img-treinoatual img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(-137px, 162px);
  z-index: -2;
}

.container-minhaevolucao h2 {
  margin-left: 130px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.card-minhaevolucao {
  width: 600px;
  height: 500px;
  border: 2px solid #ddb7ac;
  margin-left: 125px;
  display: flex;
}
.card-minhaevolucao h2 {
  margin: 0px;
}
.dias-minhaevolucao li {
  width: 60px;
  height: 60px;
  background-color: #ddb7ac;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.dias-minhaevolucao li a {
  font-size: 30px;
  color: #fff;
  margin: auto;
}
.txt-minhaevolucao {
  border-left: 2px solid #ddb7ac;
  padding: 15px 10px;
}
.titulo-descricao {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: -1;
}
.titulo-meugrupo h3 {
  font-size: 25px;
}
.meugrupo-descricao {
  margin-top: 15px;
  z-index: -1;
}
.descricao-usuarios {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nome-usuarios {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nome-usuarios img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ddb7ac;
}
.nome-usuarios h6 {
  font-size: 18px;
  width: 200px;
}
.treinoconcluido-usuarios {
  width: 100px;
  background-color: #ddb7ac;
  padding: 5px 0px;
  text-align: center;
}

/*Page Treino de Hoje*/
.container-treinodehoje {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(130deg, #eea7ff 75%, transparent 15%);
  gap: 30px;
  padding: 30px 50px;
  width: 100%;
  height: 96vh;
}
/* .video-treinodehoje{
	width: 920px;
} */

.descricao-treinodehoje {
  border: 2px solid #5bc2a3;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  width: 550px;
  height: 80vh;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.dias-treinodehoje {
  display: flex;
  align-items: center;
}
#voltar-dias {
  margin-right: 10px;
  display: none;
}
#indo-dias {
  display: flex;
  display: none;
  flex-direction: row-reverse;
  margin-left: 10px;
}
.dias-treinodehoje ul {
  width: 450px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dias-treinodehoje li {
  border-radius: 50%;
  background-color: #eea7ff;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.dias-treinodehoje li:hover {
  background-color: #5bc2a3;
  cursor: pointer;
  transition: all 0.3s;
}
.dias-treinodehoje li a {
  color: #fff;
  list-style: none;
}
.dias-treinodehoje li button:hover {
  color: #5bc2a3;
}
iframe {
  width: 50vw;
  height: 80vh;
}
.depoimento-treinodehoje {
  width: 470;
  border: 2px solid #5bc2a3;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}
.depoimento-treinodehoje h5 {
  text-align: center;
  margin-bottom: 18px;
}
.depoimento-treinodehoje p {
  margin-top: 10px;
}
.depoimento-treinodehoje button {
  margin: 10px auto;
}
.depoimento-treinodehoje button:hover {
  color: #5bc2a3;
  border: 1px solid #5bc2a3;
}
.redios-rendimento {
  display: flex;
  gap: 20px;
}

.campos_escondidos {
  display: none;
}
/*Abre Meus Dados*/
.form-dadospessoais {
  width: 800px;
  border: 2px solid #5bc2a3;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 30px;
}
.form-row {
  display: flex;
  gap: 40px;
}
.form-row div {
  display: flex;
  flex-direction: column;
}
.form-row input {
  width: 350px;
  height: 30px;
  border: 1.5px solid #5bc2a3;
  border-radius: 10px;
  padding: 5px;
}
.form-row label {
  margin-bottom: 0px;
  margin-top: 15px;
}
.btn-alterar {
  display: flex;
  justify-content: center;
}
.btn-alterar button {
  color: #fff;
  margin-top: 20px;
}
.btn-alterar button:hover {
  color: #5bc2a3;
}

.card-respostas {
  width: 800px;
  background-color: #eea7ff;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  color: #fff;
}
.card-respostas button {
  background-color: transparent;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 10px;
}
.card-respostas button:hover {
  background-color: #fff;
}
.card-respostas button:hover a {
  color: #eea7ff;
}
/*Fechar Meus Dados*/

.card-dados-numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
