@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
}

.header-md {
  display: none;
}
.header-lg {
  display: flex;
  justify-content: space-around;
  padding: 25px 40px;
  align-items: center;
  height: 50px;
}
.img-logo img {
  width: 120px;
}
.nav-links nav ul {
  display: flex;
  gap: 50px;
}
li {
  list-style: none;
}
a {
  color: #eea7ff;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #5bc2a3;
  color: #5bc2a3;
  transition: all 0.3s;
}
button {
  width: 90px;
  height: 35px;
  background-color: #5bc2a3;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}
button:hover {
  color: #5bc2a3;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #5bc2a3;
  transition: all 0.3s;
}
button a {
  color: #fff;
}
button a:hover {
  color: #5bc2a3;
}
button:hover a {
  color: #5bc2a3;
  text-decoration: none;
  border: none;
}

/*Abre Inicio*/
#inicio {
  background-image: linear-gradient(-7deg, #eea7ff 33%, transparent 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 30px;
  color: #000;
  width: 100%;
  min-height: 450px;
}

.txt-inicio {
  width: 530px;
}

.btn-logon {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.btn-logon button {
  width: 170px;
}
.img-inicio {
  position: relative;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.img-inicio img {
  position: absolute;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  z-index: 2;
  object-fit: cover;
}
.sombra-inicio {
  width: 500px;
  height: 350px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #5bc2a3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(10px, 15px);
}
.triangulo-inicio {
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  transform: translate(0px, 250px);
}
/*Fecha Inicio*/

/*Abre Cards Convencimento*/
.cards-inicio-sm {
  display: none;
}
.cards-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.card-inicio {
  display: block;
  width: 250px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #e599f7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e599f7;
}
.card-inicio span {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 80px;
}
.card-inicio p {
  width: 220px;
  text-align: center;
  margin-bottom: 15px;
}
.cards-inicio-md {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: none;
}
.card-inicio-md {
  display: none;
  width: 200px;
  height: 230px;
  background-color: #fff;
  border: 2px solid #e599f7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e599f7;
}
.card-inicio-md span {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 80px;
}
.card-inicio-md p {
  width: 170px;
  text-align: center;
  margin-bottom: 15px;
}

/*Fecha Cards Convencimento*/

/*Abre Beneficios*/
#beneficios {
  position: relative;
}
.txt-beneficios {
  background-color: #e599f7;
  height: 530px;
  color: #fff;
  width: 1075px;
  margin: auto;
}
.container-beneficios {
  width: 100%;
  height: 600px;
  background-color: #e599f7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  transform-origin: bottom left;
  transform: skewY(2deg);
}
.row-cards-beneficios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.card-beneficios {
  width: 250px;
  height: 200px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 25px;
}
.card-beneficios span {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 80px;
}
.card-beneficios p {
  width: 220px;
  text-align: center;
  margin-bottom: 15px;
}
/*Fecha Beneficios*/

/*Abre Proposito*/
#proposito {
  margin-top: 30px;
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.txt-proposito {
  color: #000;
  width: 600px;
  z-index: -1;
  padding: 10px 30px;
  border-radius: 30px;
}
.txt-proposito p {
  margin-top: 10px;
}
.txt-proposito span {
  color: #5bc2a3;
  font-size: 45px;
}
.img-proposito {
  width: 400px;
  height: 430px;
  position: relative;
}
.img-proposito img {
  width: 400px;
  height: 430px;
  border-radius: 20px;
}
.sombra-proposito {
  width: 400px;
  height: 430px;
  border-radius: 20px;
  border: 2px solid #5bc2a3;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, 15px);
  z-index: -2;
}
/*Fecha Proposito*/

/*Abre Alongamentos*/
#alongamentos {
  width: 1110px;
  margin: auto;
}
#alongamentos h1 {
  margin-top: 80px;
}
#alongamentos span {
  font-size: 45px;
  color: #5bc2a3;
}
.cards-exercicios-md {
  display: none;
}
.cards-exercicios-sm {
  display: none;
}

.cards-exercicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-exercicios {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  position: relative;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}

.card-exercicios img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  border-radius: 20px;
  object-fit: cover;
}

.desc-exercicios {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: all 0.6s ease-in-out;
}
.descricao-exercicio div {
  display: flex;
  justify-content: center;
}
.descricao-exercicio div {
  display: flex;
  justify-content: center;
}
.descricao-exercicio button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.descricao-exercicio button:hover a {
  color: #fff;
}

.desc-exercicios h2 {
  background-image: linear-gradient(8.5deg, #e599f7 60%, transparent 10%);
  padding: 20px 10px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

.card-exercicios:hover .desc-exercicios h2 {
  animation: cardAnimation 0.5s;
}

.card-exercicios .descricao-exercicio {
  background-color: #e599f7;
  padding: 15px;

  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  position: absolute;

  overflow: hidden;

  pointer-events: none;

  transition: all 0.3s ease-in-out;
}

.card-exercicios:hover .descricao-exercicio {
  /*opacity: 1;
    bottom: 0;
    transform: translate(0, -20%);*/
  animation: cardAnimation 0.5s;
  width: auto;
  height: auto;
  white-space: normal;
  position: initial;

  overflow: hidden;
  pointer-events: auto;
}

@keyframes cardAnimation {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.favoritar {
  display: flex;
  justify-content: space-between;
  background-color: #e599f7;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.favoritar svg.active {
  color: #df1a1a;
  transition: all 0.3s;
}
.favoritar svg {
  color: #5bc2a3;
  transition: all 0.3s;
}
.tipo-maisteinos {
  padding: 2px 10px;
  align-items: center;
  background-color: #df6d1a;
  border-radius: 20px;
  color: #fff;
}
/*Fecha Alongamentos*/

#depoimentos {
  margin-top: 120px;
  position: relative;
}
.carrosel-depoimentos-md {
  display: none;
}
.carrosel-depoimentos-sm {
  display: flex;
}
.container-depoimentos {
  background-color: #e599f7;
  color: #fff;
  width: 1100px;
  margin: auto;
}
.fundo-depoimentos {
  background-color: #e599f7;
  width: 100%;
  height: 450px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  transform-origin: bottom left;
  transform: skewY(2deg);
}
.carrosel-depoimentos {
  position: relative;
  display: flex;
  gap: 30px;
}
.card-depoimentos {
  width: 350px;
  height: 300px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.identificacao {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;
}
.identificacao img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.identificacao h3 {
  font-size: 25px;
}
.text-card-depoimentos {
  padding: 5px 15px;
}

#duvidas {
  width: 1100px;
  margin: auto;
}
#duvidas h1 {
  margin-top: 90px;
}
#duvidas span {
  color: #5bc2a3;
  font-size: 45px;
}
.card-pergunta {
  width: 600px;
  border-radius: 20px;
  background-color: #e599f7;
  padding: 5px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
}
.card-resposta {
  width: 600px;
  border-radius: 20px;
  border: 2px solid #5bc2a3;
  padding: 15px;
  margin-bottom: 15px;
  display: none;
  transition: all 0.8s;
  margin-left: 125px;
}
.card-resposta.active {
  display: block;
  transition: all 0.8s;
}

footer {
  background-color: #5bc2a3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  margin-top: 30px;
}
footer > div {
  width: 300px;
}
li svg {
  color: #384633;
}

#cards-alongamentos {
  margin-top: 50px;
  margin-left: 125px;
}

/* Login */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(95deg, #eea7ff 48%, transparent 2%);
}
.txt-login {
  width: 420px;
  color: #fff;
}
.form-login {
  position: relative;
}
.card-login {
  width: 400px;
  min-height: 350px;
  background-color: #fff;
  border: 2px solid #5bc2a3;
  color: #5bc2a3;
  border-radius: 10px;
}
.card-existe {
  border: 2px solid #5bc2a3;
  padding: 15px;
  margin-bottom: 15px;
  color: #5bc2a3;
  display: none;
}
.card-msgErro {
  border: 2px solid #df1a1a;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  color: #df1a1a;
  display: none;
}
.card-msgErro.active {
  display: block;
}
.card-existe.active {
  display: block;
}
.card-login form {
  padding: 40px 0px;
}
.card-login h2 {
  color: #5bc2a3;
  text-align: center;
}
.input-form-login {
  flex-direction: column;
  width: 320px;
  margin-left: 38px;
  margin-top: 15px;
}
.input-form-login label {
  margin-bottom: 0px;
}
.input-form-login input {
  width: 100%;
  padding: 3px 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  border: 2px solid #5bc2a3;
}
.links-form-login {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.links-form-login a {
  text-decoration: block;
  color: #e599f7;
  margin-top: 10px;
}
.links-form-login a:hover {
  color: #5bc2a3;
  text-decoration: none;
  border: none;
}
.card-login button {
  background-color: #5bc2a3;
  color: #fff;
  margin-top: 30px;
  transition: all 0.5s;
  margin-left: 155px;
}
.card-login button:hover {
  cursor: pointer;
  color: #5bc2a3;
  background-color: transparent;
  transition: all 0.5s;
}
.txt-login p {
  margin-top: 40px;
}
.txt-login p a {
  border-bottom: solid 1px #384633;
}
.txt-login p a:hover {
  color: #00453a;
  border-bottom: solid 2px #00453a;
}

/*Cadastro*/
.container-cadastro {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(95deg, #eea7ff 45%, transparent 5%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.card-cadastro {
  width: 500px;
  min-height: 400px;
  background-color: #fff;
  border: 2px solid #5bc2a3;
  color: #000;
  border-radius: 20px;
}
.card-cadastro form {
  padding: 35px 0px;
}
.card-cadastro h2 {
  color: #5bc2a3;
  text-align: center;
}
.input-form-cadastro {
  flex-direction: column;
  width: 420px;
  margin: auto;
  margin-top: 15px;
}
.input-form-cadastro label {
  margin-bottom: 0;
  color: #5bc2a3;
}
.input-form-cadastro input {
  width: 100%;
  padding: 3px 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  border: 2px solid #5bc2a3;
}
.container-inputduplo {
  display: flex;
  gap: 20px;
}
.inputduplo-cadastro input {
  width: 200px;
}
.card-cadastro button {
  margin-top: 30px;
  color: #fff;
  transition: all 0.5s;
  margin-left: 205px;
}
.card-cadastro button:hover {
  color: #5bc2a3;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #5bc2a3;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}
